<div class="row bg-white py-3 mt-5">
  <div class="card col-4" style="border: 0;">
    <img
      src="{{#if userData.image}}{{ userData.image }}{{else}}https://cdn-icons-png.flaticon.com/512/3177/3177440.png{{/if}}"
      alt="avatar" style="height:300px; width:270px; border-radius:50%" class="mx-auto" onload="this.style.opacity=1;">
  </div>
  <div class="col-8">
    <h3>{{ userData.name }}</h3>
    <h5>{{ userData.email }}</h5>
    <p><strong>{{comments.length}}</strong> 已評論餐廳</p>
    <p><strong>{{userData.FavoritedRestaurants.length}}</strong> 收藏餐廳</p>
    <p><strong>{{userData.Followings.length}}</strong> followings(追蹤者)</p>
    <p><strong>{{userData.Followers.length}}</strong> followers(追隨者)</p>
    {{#ifCond loginUser.id userData.id}}
      <a href="/users/{{ user.id }}/edit" class="btn btn-primary mt-2">Edit</a>
    {{else}}
    {{#if isFollowed }}
      <form action="/following/{{userData.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-danger mt-2">取消追蹤</button>
      </form>
    {{else}}
      <form action="/following/{{userData.id}}" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-primary mt-2">追蹤</button>
      </form>
    {{/if}}
    {{/ifCond}}
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="card mt-3">
      <h5 class="card-header"><strong>{{userData.Followings.length}}</strong> followings(追蹤者)</h5>
      <div class="card-body">
        {{#each userData.Followings}}
          <a href="/users/{{this.id}}" title="{{this.name}}" style="text-decoration: none;">
            {{#if this.image}}
              <img src="{{this.image}}" class="m-3" style="height:100px; width:100px;">
            {{else}}
              <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" width="100px" height="100px" />
            {{/if}}
          </a>
        {{/each}}
      </div>
    </div>

    <div class="card mt-3">
      <h5 class="card-header"><strong>{{userData.Followers.length}}</strong> followers(追隨者)</h5>
      <div class="card-body">
        {{#each userData.Followers}}
          <a href="/users/{{this.id}}" title="{{this.name}}" style="text-decoration: none;">
            {{#if this.image}}
              <img src="{{this.image}}" class="m-3" style="height:100px; width:100px;">
            {{else}}
              <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" width="100px" height="100px" />
            {{/if}}
          </a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="card mt-3">
      <h5 class="card-header"><strong>{{comments.length}}</strong> 已評論餐廳</h5>
      <div class="card-body">
        {{#each comments}}
          <a href="/restaurants/{{this.Restaurant.id}}" title="{{this.Restaurant.name}}" style="text-decoration: none;">
            <img src="{{this.Restaurant.image}}" class="m-3" style="height:100px; width:100px;">
          </a>
        {{/each}}
      </div>
    </div>

    <div class="card mt-3">
      <h5 class="card-header"><strong>{{userData.FavoritedRestaurants.length}}</strong> 收藏餐廳</h5>
      <div class="card-body">
        {{#each userData.FavoritedRestaurants}}
          <a href="/restaurants/{{this.id}}" title="{{this.name}}" style="text-decoration: none;">
          <img src="{{this.image}}" class="m-3" style="height:100px; width:100px;">
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
